@font-face {
  font-family: "Avenue Drift";
  src: url('/assets/Avenue_Drift');
}

body {
  margin: 42px;
}

h1 {
  font-family: "Avenue Drift", "Arial Black", sans-serif;
  font-size: 3.5em;
}

p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
